// Type
$sans: 'Nunito';

// colors

$persimmon: #EC5800;
$lavender: #9F90D0;
$indigo: #000080;
$silver: #C0C0C0;
$white: #ffffff;

@mixin flex-center {
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
}
